* {
    margin:0;
    padding:0;
}

body {
    background: url("img/body-bg.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Arial Black", sans-serif;
}

/* Preloader page */
#preloader {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: 1.5s;
}

#preloader .welcome-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 50px;
}

#preloader .welcome-text img {
    border: 2px solid #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 #000000;
    width: 50px;
}

#preloader .welcome-text span {
    display: block;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
}

#preloader.hide-preloader {
    margin-top: -100vh;
}

.task-2 {
    width: 370px;
    margin: 50px auto;
    user-select: none;
    display: none;
}

.task-2.show-game-page {
    display: block;
}

.task-2 .items {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 225px;
    margin-left: auto;
    background: #ffffff;
    padding: 5px;
    box-shadow: 0 0 10px 0 #aaaaaa;
    border-radius: 6px;
    margin-bottom: 10px;
}

.task-2 .items.disabled:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    z-index: 1;
}

.task-2 .items span {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px -3px #000000;
    user-select: none;
}

.task-2 .items span img {
    width: 100%;
    height: 100%;
    border: 4px solid #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
}

.task-2 .items span:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.task-2 .items span:nth-last-child(1) {
    margin-right: 0;
}

.task-2 .items img:nth-last-child(1) {
    margin-right: 0;
}

.task-2 ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    list-style-type: none;
    border: 10px solid #ffffff;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 #aaaaaa;
}

.task-2 ul li {
    position: relative;
    height: 80px;
    background: url("img/bg.jpg") center/cover;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center
}

.task-2 ul li span {
    width: 71px;
    height: 71px;
}

.task-2 ul li span:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.task-2 ul li span img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 3px solid #ffffff;
    box-sizing: border-box;
}